<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ievgen Gavrysh</title>
</head>
<body>

<strong>Ievgen Gavrysh</strong><br>
<a href="/">index</a><br>
<a href="/dog">dog</a><br>
</body>
</html>