<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<body>

<strong>This is start page for Ievgen Gavrysh</strong><br>
<a href="/dog">dog</a><br>
<a href="/me">me</a><br>
</body>
</html>